html {
  scroll-behavior: smooth;
}

.header {
    position: relative;
    height: 100vh;
    min-height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url(../assets/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -140px;
    background-color: #e8ecfb;
  }
  
  .header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(top, rgba(95, 112, 188, 0.42) 0%, rgba(178, 188, 227, 0.34) 56%, rgba(232, 236, 251, 0.98) 88%, #e8ecfb 100%);
    background-image: linear-gradient(180deg, rgba(95, 112, 188, 0.42) 0%, rgba(178, 188, 227, 0.34) 56%, rgba(232, 236, 251, 0.98) 88%, #e8ecfb 100%);
  }
  
  .header .header-content {
    margin-top: 20px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 550px;
  }
  
  .header .header-content .header-title .up {
    font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1300 - 300)));
    font-weight: 500;
    color: #444;
    margin-bottom: 5px;
    position: relative;
    display: block;
  }
  
  .header .header-content .header-title .down {
    font-size: calc(20px + (75 - 30) * ((100vw - 300px) / (1300 - 300)));
    margin-bottom: 0;
    position: relative;
    display: block;
  }
  
  .header .header-content .header-subtitle {
    font-size: calc(10px + (22 - 10) * ((100vw - 300px) / (1300 - 300)));
    letter-spacing: calc(1px + (7 - 1) * ((100vw - 300px) / (1300 - 300)));
    opacity: .8;
    margin-top: -10px;
    margin-bottom: 20px;
  }
  
  .header .header-content .btn {
    position: relative;
    margin-top: 20px;
    border-radius: 20px;
    padding: 8px 15px;
  }
  
  .header-title {
    font-size: 2.4rem;
    font-weight: bold;
    opacity: .8;
    color: #212529;
  }
  
  .header-mini {
    min-height: 24rem;
    height: 24rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 1rem;
    background: #a59cca;
  }


  .typing{
    font-size:30px;
    font-weight: 700;
  }

  .content{
    font-size:30px;
    font-weight: 500;
  }
  
  @media (max-width: 991.98px) {
    .header {
      background-size: cover;
      background-position: center top;
    }

    .header .overlay {
      background-image: -webkit-linear-gradient(top, rgba(92, 108, 184, 0.44) 0%, rgba(167, 178, 220, 0.35) 58%, rgba(232, 236, 251, 0.98) 90%, #e8ecfb 100%);
      background-image: linear-gradient(180deg, rgba(92, 108, 184, 0.44) 0%, rgba(167, 178, 220, 0.35) 58%, rgba(232, 236, 251, 0.98) 90%, #e8ecfb 100%);
    }

    .header-content {
      padding-left: calc(100% / 5) !important;
    }
  }

  @media (max-width: 767.98px) {
    .header {
      min-height: 520px;
      background-position: 50% 0;
    }
  }
