.skill-section {
  background-color: #e8ecfb;
}

.skill-section .container {
  margin: 0 auto;
}

.skill-section .card {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 0 auto;
  /* background-image: url(../assets/html-removebg-preview.png); */
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
  border-radius: 15px;
  /* box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5); */
}

.skill-section .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-section .face.back {
  box-sizing: border-box;
  padding: 20px;
}

.skill-section .face.back b {
  margin: 0;
  padding: 0;
}

.skill-section .face.back .desc {
  background-color: #eee;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skill-section .face.front {
  transition: 0.5s;
}

.skill-section .face.front b {
  margin: 0;
  padding: 0;
  font-size: 3em;
  color: black;
  transition: 0.5s;
  /* text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  z-index: 10;
}

.skill-section .card:hover .face.front {
  height: 60px;
}

.skill-section .card:hover .face.front b {
  font-size: 2em;
}

.skill-section .face.front {
  background-color: white;
  border-radius: 15px;
}

.skill-section .whole-card{
  display: flex;
  flex-wrap: wrap;
}

.skill-section .skill-name{
  text-align: center;
  margin-bottom: 25px;
}
